.errorTag{
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: -30px 0 10px;
    position: absolute;
}

.inputCont{
    margin-top: 40px;
    display:block;
    width:100%;
}

.inputField{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.inputField:focus{
    border-color: #212529;
    outline: none;   
}
.inputField:hover{
    border-color: #212529;
}

.button{
    border-radius: 15px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border-color: #66798b;
    border-width: 1px;
    transition: .15s ease-in-out;
    background-color: white;
    margin-bottom: 20px;
}
.button:hover{
    background-color: #ecbbff;
}

.h1{
    text-align: center;
    background-color: #ecbbff;
    padding: 5px 0 10px;
    border-radius: 15px;
}

.spacer{
    height: 50px;
    width: 1px;
    display: inline-block;
}